# Data Exploration

In [1]:
from pymongo import MongoClient
import pandas as pd
from tqdm import tqdm
import numpy as np
tqdm.pandas()

In [2]:
myclient = MongoClient("mongodb://localhost:27017/")
db=myclient.online_retail

### Loading the dataset

In [3]:
df = pd.read_excel('Online Retail.xlsx', engine='openpyxl')

### Checking for duplicates

In [4]:
df.duplicated().sum()

5268

Getting rid of duplicated rows

In [5]:
df = df.drop_duplicates()

Checking the total number of rows

In [6]:
df.count()

InvoiceNo      536641
StockCode      536641
Description    535187
Quantity       536641
InvoiceDate    536641
UnitPrice      536641
CustomerID     401604
Country        536641
dtype: int64

Since some of the columns contain less elements than others we can conclude the absence of data in these columns

### Dealing with missing data
There are multiple ways of dealing with missing data. Some of them include using mean or median values as a replacement. But since the columns with missing data are 'CustomerID' and 'Description' this method is not suitable for this. The other approach is to delete rows containing missing data altogether. However, since the dataset is imported in MongoDB we can delete the fields which contain missing values only when it is the case.

In [ ]:
def row_to_dict(self, row):
    row_dict = dict(row)
    if np.isnan(row_dict['CustomerID']):
        del row_dict['CustomerID']
    else:
        row_dict['CustomerID'] = int(row_dict['CustomerID'])
    if row_dict['Description'] == row_dict['Description']:
        row_dict['Description'] = str(row_dict['Description']).upper()
    else:
        del row_dict['Description']
    return row_dict

In [ ]:
mycol = db["OnlineRetail"]
df.progress_apply(lambda x: mycol.insert_one(row_to_doc(x)), axis=1)